<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/{{tmp.artwork.id}}/img/favicon.ico">

    <title>{{ tmp.artwork.name }}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/{{tmp.artwork.id}}/css/styles.css" >
	</head>
	<body>
    	<div id="depthMap" class="vline1"></div></div>
    	<video id="video" autoplay></video>
		<div id="three"></div>

    	<div class="modal" tabindex="-1" role="dialog" id="helpModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Setup the Map</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<input type="checkbox" id="fullscreen"> fullscreen
						<div>
							Start from <br />
							<input type="radio" name="loadSequence" id="loadSequence" value='phase'> Phase Capture <br />
							<input type="radio" name="loadSequence" id="loadSequence" value='images'> Images <br />
							<input type="radio" name="loadSequence" id="loadSequence" value='model'> Model <br />
							<input type="radio" name="loadSequence" id="loadSequence" value='live'> Live <br />
						</div>
					</div>
					<div class="modal-footer">
						<button id="startSetup" type="button" class="btn btn-primary">Start</button>
					</div>
				</div>
			</div>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
		<script src="/assets/{{tmp.artwork.id}}/js/tween.js"></script>
		<script src="/assets/{{tmp.artwork.id}}/js/3/three.js"></script>
		<script src="/assets/{{tmp.artwork.id}}/js/3/QuickHull.js"></script>
		<script src="/assets/{{tmp.artwork.id}}/js/3/geometries/ConvexGeometry.js"></script>
		<script src="/assets/{{tmp.artwork.id}}/js/3/TypedArrayUtils.js"></script>
		<script src="/assets/{{tmp.artwork.id}}/js/3/libs/stats.min.js"></script>
		<script src="https://unpkg.com/delaunator@3.0.2/delaunator.js"></script>
		<script src="/assets/{{tmp.artwork.id}}/js/3/loaders/GLTFLoader.js"></script>
		<script src="/assets/{{tmp.artwork.id}}/js/3/controls/OrbitControls.js"></script>
		<script src="/assets/{{tmp.artwork.id}}/js/3/controls/TransformControls.js"></script>
		<script>
            ASSETURL = "/assets/{{tmp.artwork.id}}/";
        </script>
		<script src="/assets/{{tmp.artwork.id}}/js/bmap.js"></script>
	
		<script id="surfaceVertexShader" type="x-shader/x-vertex">

			//attribute vec3 position;
			//varying vec2 fragCoord;
    		//varying vec2 vUv; 
    		
    		//attribute vec3 position;
			attribute vec2 surfacePosAttrib;
			varying vec2 surfacePosition;

			void main() {

				surfacePosition = surfacePosAttrib;
				gl_Position = vec4( position, 1.0 );

			}
			
			//void main() {
				//vUv = uv;
		       // gl_Position = vec4(position, 1.0 );
		        //fragCoord = position.xy;

			//}


		</script>
	</body>
</html>

