<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/{{tmp.artwork.id}}/img/favicon.ico">

    <title>{{ tmp.artwork.name }}</title>

    <link rel="stylesheet" href="/assets/{{tmp.artwork.id}}/css//bootstrap.min.css" >
    <link rel="stylesheet" href="/assets/{{tmp.artwork.id}}/css/styles.css" >
    <link rel="stylesheet" href="/assets/{{tmp.artwork.id}}/css/bootstrap-datetimepicker.min.css" >
    
  </head>

  <body>
  
  
    <nav class="navbar navbar-dark sticky-top bg-dark  p-0" id="mainNav">
       <div class="text-nowrap menuLeft" >
        <a class="p-3" href="{{tmp.URL}}/cue">
          {{ tmp.artwork.name }}</a>  {% if(tmp.user.permission == "Admin") %}<a href="{{tmp.URL}}/setup">Scene</a>{% endif %} <!-- <a href="javascript:loadCalendar()" class="p-3">Cue</a> -->
		  {% if(tmp.user.permission == "Admin" or tmp.user.permission == "MemberPaid") %}
		  <a href="javascript:playListDialog()" class="p-3">Play Lists</a>
		   <div class="modal fade" id="playlists" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<h5 class="modal-title" id="modalLongTitle">Play Lists</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  <div class="modal-body">
					<div id="addEditPlayList">
						<label for="playListName">Play List Name</label>
						<div class="input-group mb-3">
						  <input  id="playListName" type="text" class="form-control" placeholder="Playlist Name" aria-label="Playlist Name" aria-describedby="basic-addon2">
						  <div class="input-group-append">
							<button id="addEditPlayListButton" class="btn btn-outline-secondary" type="button"onclick="addNewPlayList($('#playListName').val())">Add PlayList</button>
						  </div>
						</div>
					</div>
					<div id="playListLists">
						<a class="btn btn-primary float-right  btn-sm" id="addNewPlayListButton" href="javascript:newPlayList()" role="button">New Play List</a>
						<div id="listOfPlayLists">
							
						</div>
					</div>
					<div id="playListEditor">
						<div id="playListEditorSurfaces">
						</div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		   	<script>
			playLists = []
			function playListDialog(){
				$("#playListEditor").hide();
				$("#addEditPlayList").hide();
				$("#playListLists").show();
				$('#playlists').modal('show');
				$('#addNewPlayListButton').show()
				$("#listOfPlayLists").html("<center>Loading..</center>")
				url = window.location.href.split("/cue")[0]+'/getplaylists';
				$.getJSON(url).done(function(dataObj){
					$("#listOfPlayLists").html("");
					playLists = [];
					for(x in dataObj){
						playLists.push(dataObj[x])
						$("#listOfPlayLists").append( "<div class=\"playListItemSelect\"><a href=\"javascript:getPlayList('" + dataObj[x] + "')\">"+ dataObj[x] + "</a><a class=\"btn btn-warning float-right  btn-sm\" href=\"javascript:SetDefaultPlayList('"+dataObj[x]+"')\">Set Default</a> <a class=\"btn btn-danger float-right  btn-sm\" style=\"margin-right:5px;\" href=\"javascript:deletePlayList('"+dataObj[x]+"')\">Delete</a></div>");
					}
					getDefaultPlayList()
				});
			}
			function getDefaultPlayList(){
				url = window.location.href.split("/cue")[0]+'/getdefaultplaylist';
				$.getJSON(url).done(function(dataObj){
					$(".playListItemSelect a").each(function(){
						console.log($(this).text(), dataObj.defalutPlayList)
						if($(this).text() == dataObj.defalutPlayList){
							$(this).parent().addClass('defaultPlaylist')
							$(this).parent().find(".btn").each(function(){
								$(this).remove()
							});
						}
					});
				});
			}
			function deletePlayList(playListName){
				if(confirm("Are you sure you want to delete te playlist : " + playListName + "?")){
					url = window.location.href.split("/cue")[0]+'/deleteplaylist';
					data = { list : playListName }
					$.getJSON(url, data).done(function(playList){
						playListDialog();
					});
				}
			}
			currentPlayList = [];
			function getPlayList(playListName){
				url = window.location.href.split("/cue")[0]+'/getplaylist';
				data = { list : playListName }
				$.getJSON(url, data).done(function(playList){
					currentPlayList = playList;
					$("#playListEditor").show();
					$("#addEditPlayList").hide();
					$("#playListLists").hide();
					renderEditPlayList(playList)
				});
			}	
			function renderEditPlayList(playList){
				$("#playListEditorSurfaces").html("");
				for(x in playList.playItem){
					playListItem = "";
					for(z in playList.playItem[x]){
						if(playList.playItem[x][z].surfaceType == "shader"){
							url = window.location.href.split("/cue")[0];
							playListItem = playListItem  + "<img src='" + url + '/shaderimg?i=' + playList.playItem[x][z].surfaceLink + ".png' class='playListShaderItem' />"
						}
						if(playList.playItem[x][z].surfaceType == "script"){
							url = window.location.href.split("/cue")[0];
							playListItem = playListItem  + "<div class='playListAppItem'>" + playList.playItem[x][z].surfaceLink + "</div>"
						}
					}
					
					if(x > 0){
						upList = "<a href='javascript:swapList("+x+", "+(x-1)+")'>&#8679;</a>"	
					}else{
						upList = "";
					}
					if(x < playList.playItem.length-1){
						downList = "<a href='javascript:swapList("+x+", "+(parseInt(x)+1)+")'>&#8681;</a>"	
					}else{
						downList = ""
					}
					jstring = JSON.stringify( playList.playItem[x]);
					hash =  window.btoa(jstring)
					$("#playListEditorSurfaces").append("<div><div class='playListItemOrder'>" + upList +" "+ downList + "</div>" + playListItem + "<a href='javascript:removeFromList(" + x + ")'>&#9746;</a> <a href=\"javascript:previewSurfaceFromPlayList('"+hash+"');\">&#x25ba;</a></div>");
				}
			}
			function previewSurfaceFromPlayList(hash){
				loc = window.location.href.split("/cue")[0]+'/setup#'+hash
				$('<iframe>', {
					src: loc,
					id:  'preview',
					frameborder: 0,
					scrolling: 'no'
				}).appendTo('body');

				$("#closeIframe").fadeIn();
			}
				
			function removeFromList(item){
				if(confirm("Are you sure you want to remove this scene from this playlist?")){
					currentPlayList.playItem.splice(item, 1);
					renderEditPlayList(currentPlayList)
					savePlayListBackground(currentPlayList)
				}
			}
			function swapList(item, swapItem){
				console.log(currentPlayList.playItem[swapItem])
				var b = currentPlayList.playItem[item];
				currentPlayList.playItem[item] = currentPlayList.playItem[swapItem];
				currentPlayList.playItem[swapItem] = b;
				
				renderEditPlayList(currentPlayList)
				savePlayListBackground(currentPlayList)
			}
			function newPlayList(){
		   	   $("#playListEditor").hide();
			   $("#playListLists").hide();
			   $("#addEditPlayList").show();
			   $("#playListName").val("");
		   }
		   
			function addNewPlayList(playListName){
				// creates new playlist
				playList = { title : playListName, playItem:[]}
				savePlayList(playList);
			}
				
			function addTooPlayList(playListName){
				// creates new playlist
				playList = { title : playListNamem, playItem:[]}
				savePlayList(playList);
			}
				
				
			function savePlayList(playList){
				url = window.location.href.split("/cue")[0]+'/saveplaylist';
				data = { list : JSON.stringify(playList) }
				$.post(url, data).done(function(){
					console.log("Play List Saved")
					playListDialog()
				});
			}
			
			function savePlayListBackground(playList){
				url = window.location.href.split("/cue")[0]+'/saveplaylist';
				data = { list : JSON.stringify(playList) }
				$.post(url, data).done(function(){
					console.log("Play List Saved")
				});
			}
				
			function SetDefaultPlayList(playListName){
				data = {list:playListName}
				url = window.location.href.split("/cue")[0]+'/defaultplaylist';
				$.getJSON(url, data).done(function(data){
					playListDialog()
				});
				
			}
				
			function addFilesToPlayList(playListName){
				url = window.location.href.split("/cue")[0]+'/getplaylist';
				data = {list:playListName}
				$.getJSON(url, data).done(function(playList){
					surfaces = []
					surfaceCount = 0;
					$(".surface").each(function(){
						x = {}
						surfaceCount++;
						x.surfaceLink = $(this).attr('data-surfacelink');
						console.log(x.surfaceLink)
						x.surfaceType = $(this).attr('data-surfacetype');
						if(x.surfaceType == "script"){
							x.appCfg = SURFACES[this.id].appCfg
						}
						if(x.surfaceType != ""){
							surfaces.push(x);
						}
						
					});
					if(surfaces.length == surfaceCount){
						playList.playItem.push(surfaces);
						savePlayList(playList);
						$('#playlists').modal('hide');
					}else{
						alert('Not all Surfaces are filled with Apps or Shaders')
					}
					
				});
			}
				
			function addToPlayList(){
				$("#playListEditor").hide();
				$('#addNewPlayListButton').hide()
				$("#addEditPlayList").hide();
				$("#playListLists").show();
				$('#playlists').modal('show');
				// load the playlist in from the server
				$("#listOfPlayLists").html("<center>Loading..</center>")
				url = window.location.href.split("/cue")[0]+'/getplaylists';
				$.getJSON(url).done(function(dataObj){
					$("#listOfPlayLists").html("");
					playLists = [];
					for(x in dataObj){
						playLists.push(dataObj[x])
						$("#listOfPlayLists").append( "<div><a href=\"javascript:addFilesToPlayList('" + dataObj[x] + "');\">" + dataObj[x] + "</div>");
					}
				});
			}
				
			
		   </script>
        
     		{% endif %}
		   
      </div>

        <div class="text-nowrap menuRight">
          <a href="/user/edit_user_profile">{{ tmp.user.email }}</a> &nbsp;
          <a class="p-3" href="/user/sign-out">Sign Out</a>
        </div>
    </nav>

	
    <div class="container-fluid">
      <div class="row">
       
  	
	{% if tmp.section == "cue" %}
	<div class="cueScreenSelector">
		
		<div id="controls">
		<a href="javascript:preview()" class="btn btn-success float-right">Preview</a>
		{% if(tmp.user.permission == "Admin" or tmp.user.permission == "MemberPaid") %}
		<a href="javascript:addToPlayList()" class="btn btn-warning float-right">Add to Playlist</a>
		{% endif %}
		 </div>
		 {% for surface in tmp.surfaces %}
			
			<div class="surface" id="surface{{surface}}" data-surfaceid="{{surface}}" data-surfacetype="" data-surfacelink="" ondrop="drop(event)" ondragover="allowDrop(event)" onclick="surfaceClick(this)">
				surface {{ surface }}
			</div>
			
		{% endfor %}
	</div>
	{% if(tmp.user.permission == "Admin" or tmp.user.permission == "MemberPaid") %}
	<div><div class="p-3"><span class="shaderTitle">Apps</span>
		</div>
		<div class="scrolling-wrapper" >
		{% for app in tmp.apps %}
			 <div  id="{{app}}" data-filename="{{app}}" data-surfacetype="script" class='appSelector _card' draggable="true" ondragstart="drag(this, event)" onmouseup="loadApp(this)">{{app}}</div>
		{% endfor %}
		</div>
	</div>
	{% endif %}
	<div><div class="p-3"><span class="shaderTitle">My Shaders</span>
		<a href="javascript:newShader()" class="btn btn-sm btn-outline-secondary float-right ml-1">New GLSLShader</a>
        <!-- <a href="{{tmp.URL}}/stream" class="btn btn-sm btn-outline-secondary float-right">New Stream</a> -->
        </div>
		<div class="scrolling-wrapper" >
		{% for shader in tmp.myshaders %}
        <img src="{{tmp.URL}}/shaderimg?i={{shader}}" id="{{shader}}" data-surfacetype="shader" class='shaderSelector _card' draggable="true" ondragstart="drag(this, event)" onmouseup="loadShader(this)">
        {% endfor %}
		</div>
		<div class="p-3"><span class="shaderTitle">Other Shaders</span></div>
		<div class="scrolling-wrapper">
		{% for shader in tmp.shaders %}
        <img src="{{tmp.URL}}/shaderimg?i={{shader}}" id="{{shader}}" data-surfacetype="shader" class='shaderSelector _card' draggable="true" ondragstart="drag(this, event)" >
        {% endfor %}
        </div>
    </div>
    <a href="javascript:destroyIframe();" id="closeIframe" class="btn btn-danger">Close</a>
    <script>
    assetsURL = "/assets/{{tmp.artwork.id}}/"
  
	function loadingShow(){
				
	}
	function loadingHide(){
				
	}
    

    function destroyIframe(){
    	$("#preview").remove();
    	$("#closeIframe").fadeOut();
    }
    

    
    
    function preview(){
    
    	surfaces = []
    	$(".surface").each(function(){
    		x = {}
    		x.surfaceLink = $(this).attr('data-surfacelink');
    		x.surfaceType = $(this).attr('data-surfacetype');
            if(x.surfaceType == "script"){
                x.appCfg = SURFACES[this.id].appCfg
            }
            surfaces.push(x);
    	});
    	
    	jstring = JSON.stringify(surfaces);
    	hash =  window.btoa(jstring)
    	loc = window.location.href.split("/cue")[0]+'/setup#'+hash
    	console.log(loc)
        
    	$('<iframe>', {
   			src: loc,
   			id:  'preview',
   			frameborder: 0,
   			scrolling: 'no'
   		}).appendTo('body');
    	
    	$("#closeIframe").fadeIn();
    }
    

    
    
    function allowDrop(ev) {
	  ev.preventDefault();
	}
	
	function drag(item, ev) {
		console.log(item, ev)
	    ev.dataTransfer.setData("text", ev.target.id);
	}
	
    //
    SURFACES = {}
        
	function drop(ev) {
	  ev.preventDefault();
	  var data = ev.dataTransfer.getData("text");
	  $(ev.target).attr('data-surfacetype', document.getElementById(data).dataset.surfacetype);
      $(ev.target).surfacetype = document.getElementById(data).dataset.surfacetype;
	  $(ev.target).attr('data-surfacelink', data.replace('.png', ''));
      SURFACES[ev.target.id] = {}
      SURFACES[ev.target.id].htmlobj = ev.target;
	  if(document.getElementById(data).dataset.surfacetype == "script"){
	  	$(ev.target).text(document.getElementById(data).dataset.filename);
	  	$(ev.target).css("background-color", '#efefef');
        scriptLoadingTarget = SURFACES[ev.target.id];
        loadAppSetupScript(document.getElementById(data).dataset.filename)
	  }else{
	  	$(ev.target).css("background-image", 'url(' + document.getElementById(data).src + ')');
	  }
	}
    scriptLoadingTarget = ""
	scriptLoadingFunctionStart = "";
    function loadAppSetupScript(scriptfile){
        scriptLoadingFunctionStart = scriptfile.split(".")[0]
        scriptURL = assetsURL+ "apps/" + scriptfile
        $.getScript( scriptURL).done(function() {
		    eval("scriptLoadingTarget.app = new " + scriptLoadingFunctionStart + "()");
            scriptLoadingTarget.app.configGUI();
        }).fail(function() {
		
        });
	}
        
    function appSetLoadParamsFromConfig(cfg){
        scriptLoadingTarget.appCfg = cfg;
        console.log(scriptLoadingTarget)
    }
	
    function surfaceClick(surface){
       // console.log(SURFACES[surface.id].appCfg);
		 scriptLoadingTarget = SURFACES[surface.id];
        if(typeof(SURFACES[surface.id]) != 'undefined'){
            if(typeof(SURFACES[surface.id].app) != 'undefined'){
				console.log(">>>V>", SURFACES[surface.id].appCfg)
                SURFACES[surface.id].app.configGUI(SURFACES[surface.id].appCfg);
            }
        }
    }
        
	
	function newShader(){
		loc = window.location.href.split("/cue")[0]+'/shader'
		$('<iframe>', {
   			src: loc,
   			id:  'shaderEdit',
   			frameborder: 0,
   			scrolling: 'no'
   		}).appendTo('body');
	}
	
	
	
	
	function loadShader(img){
          	hash = $(img).attr('src').replace(".png", "").split('i=')[1];
          	loc = window.location.href.split("/cue")[0]+'/shader#'+hash
          	$('<iframe>', {
   				src: loc,
   				id:  'shaderEdit',
   				frameborder: 0,
   				scrolling: 'no'
   			}).appendTo('body');
          }
    	
    function closeShaderEdit(){
     	$('#shaderEdit').remove();
	}
	
	function surfaceSaveFutureDate(date){
		surfaces = []
    	$(".surface").each(function(){
    		x = {}
    		x.surfaceLink = $(this).attr('data-surfacelink');
    		x.surfaceType = $(this).attr('data-surfacetype');
			if(x.surfaceType == "script"){
                x.appCfg = SURFACES[this.id].appCfg
            }
    		surfaces.push(x);
    	});
		jstring = JSON.stringify(surfaces);
    	hash =  window.btoa(jstring);
    	data = {};
		data.json = jstring;
		data.date = date;
		$.post( "./futuresurfaces", data ).done(function( data ) {
			closeFuture()
		});
	}
    </script>
    
	 {% endif %}
  
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/assets/{{tmp.artwork.id}}/js/bootstrap-datetimepicker.min.js"></script>
    {% if tmp.section == "que" %}
    
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> 
	<script src="/assets/{{tmp.artwork.id}}/js/jquery.schedule.min.js"></script>
    <link rel="stylesheet" href="/assets/{{tmp.artwork.id}}/css/jquery.schedule.min.css">-->
	<script>
	$('#schedule').jqs();
	</script>
    {% endif %}
    {% if tmp.section == "content" %}
    {% endif %}
   

  </body>
</html>

