<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/{{tmp.artwork.id}}/img/favicon.ico">

    <title>{{ tmp.artwork.name }}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/{{tmp.artwork.id}}/css/styles.css" >
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <div class="navbar-brand col-sm-3 col-md-2 mr-0 dropdown nopadding">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ tmp.artwork.name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link {% if tmp.section == 'scene' %}active{% endif %}" href="{{tmp.URL}}/scene">
                  <span data-feather="home"></span>
                  Scene
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if tmp.section == 'que' %}active{% endif %}"  href="{{tmp.URL}}/que">
                  <span data-feather="layers"></span>
                  Que
                </a>
              </li>
	      <li class="nav-item ">
                <a class="nav-link {% if tmp.section == 'content' %}active{% endif %}"  href="{{tmp.URL}}/content">
                  <span data-feather="file-text"></span>
                  My Content
                </a>
              </li>
	      <li class="nav-item ">
                <a class="nav-link "  href="#">
                  <span data-feather="file-text"></span>
                  {{ tmp.user.email }}
                </a>
              </li>
            </ul>
        </div>
      </div>

      <a class="navbar-nav col-md-6" href="#"></a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/user/sign-out">Sign Out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
       

        
	
	{% if tmp.section == "scene" %}
	<main role="main" class="">
		<div id="container"><br /><br /><br /><br /><br />Generating world...</div>
		<script src="/assets/{{tmp.artwork.id}}/js/3/three.js"></script>
		<script src="/assets/{{tmp.artwork.id}}/js/3/controls/FirstPersonControls.js"></script>
		<script src="/assets/{{tmp.artwork.id}}/js/3/ImprovedNoise.js"></script>
		<script src="/assets/{{tmp.artwork.id}}/js/3/WebGL.js"></script>
		<script src="/assets/{{tmp.artwork.id}}/js/3/libs/stats.min.js"></script>
	</main>
	{% endif %}
	{% if tmp.section == "que" %}
	<main role="main" class="col-md-9 mx-auto col-lg-10 pt-3 px-4">
	  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-0 ">
            <h1 class="h2">The Que</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">New Event</button>
              </div>
              
            </div>
           </div>
		<div id="schedule" class=""></div>
        </main>
        {% endif %}
	{% if tmp.section == "content" %}
	<main role="main" class="col-md-9 mx-auto col-lg-10 pt-3 px-4">
	  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-0 ">
            <h1 class="h2">My Content</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">New Code</button>
                <button class="btn btn-sm btn-outline-secondary">New From Template</button>
              </div>
              
            </div>
          </div>
	 
         <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Name</th>
		  <th>Type</th>
		  <th>Description</th>
                  <th>View</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001 trippy vision</td>
                  <td>Custom</td>
		  <td>A geometricinteractive playing field</td>
		  <td><button class="btn btn-outline-primary btn-sm">View</button></td>
                  <td><button class="btn btn-outline-success btn-sm">Edit</button></td>
                  <td><button class="btn btn-outline-danger btn-sm">Delete</button></td>
                </tr>
              
              </tbody>
            </table>
          </div>
	 </main>
	 {% endif %}
        
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/assets/{{tmp.artwork.id}}/js/scripts.js"></script>
    {% if tmp.section == "scene" %}
	 <script src="/assets/{{tmp.artwork.id}}/js/scene.js"></script>
    {% endif %}
    {% if tmp.section == "que" %}
	 <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="/assets/{{tmp.artwork.id}}/js/jquery.schedule.min.js"></script>
        <link rel="stylesheet" href="/assets/{{tmp.artwork.id}}/css/jquery.schedule.min.css">
	<script>
	$('#schedule').jqs();
	</script>
    {% endif %}
    {% if tmp.section == "content" %}
    {% endif %}
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

  </body>
</html>

