<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/{{tmp.artwork.id}}/img/favicon.ico">

    <title>{{ tmp.artwork.name }}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/{{tmp.artwork.id}}/css/styles.css" >
  </head>

  <body>
  
  
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" id="mainNav">
      <div class="navbar-brand col-sm-3 col-md-2 mr-0 dropdown nopadding">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ tmp.artwork.name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link {% if tmp.section == 'scene' %}active{% endif %}" href="{{tmp.URL}}/setup">
                  Scene
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if tmp.section == 'que' %}active{% endif %}"  href="{{tmp.URL}}/cue">
                  Content & Cue
                </a>
              </li>
	      <li class="nav-item ">
                <a class="nav-link {% if tmp.section == 'content' %}active{% endif %}"  href="{{tmp.URL}}/content">
                  My Content
                </a>
              </li>
	      <li class="nav-item ">
                <a class="nav-link "  href="#">
                  {{ tmp.user.email }}
                </a>
              </li>
            </ul>
        </div>
      </div>

      <a class="navbar-nav col-md-6" href="#"></a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/user/sign-out">Sign Out</a>
        </li>
      </ul>
    </nav>

	
    <div class="container-fluid">
      <div class="row">
       
  	
	{% if tmp.section == "cue" %}
	<div class="cueScreenSelector">
		{% for surface in tmp.surfaces %}
			
			<div class="surface" data-surfaceid="{{surface}}" data-surfacetype="" data-surfacelink="" ondrop="drop(event)" ondragover="allowDrop(event)">
				surface {{ surface }}
			</div>
			
		{% endfor %}
		<a href="javascript:preview()" class="btn btn-success float-right">Preview</a>
		<a href="#" class="btn btn-warning float-right">Set Future</a>
		<a href="#" class="btn btn-danger float-right">Set Live</a>
		<a id="boiling" target="_blank"></a>
	</div>
	<div>
		{% for shader in tmp.shaders %}
        <img src="{{tmp.URL}}/shaderimg?i={{shader}}" id="{{shader}}" data-surfacetype="shader" class='shaderSelector' draggable="true" ondragstart="drag(this, event)">
        {% endfor %}
    </div>
    <a href="javascript:destroyIframe();" id="closeIframe" class="btn btn-danger">Close</a>
    <script>
    
    function destroyIframe(){
    	$("#preview").remove();
    	$("#closeIframe").fadeOut();
    }
    
    function preview(){
    
    	surfaces = []
    	$(".surface").each(function(){
    		x = {}
    		x.surfaceLink = $(this).attr('data-surfacelink');
    		x.surfaceType = $(this).attr('data-surfacetype');
    		surfaces.push(x);
    	});
    	jstring = JSON.stringify(surfaces);
    	hash =  window.btoa(jstring)
    	loc = window.location.href.split("/cue")[0]+'/setup#'+hash
    	$('<iframe>', {
   		src: loc,
   		id:  'preview',
   		frameborder: 0,
   		scrolling: 'no'
   		}).appendTo('body');
    	$("#closeIframe").fadeIn();
    }
    
    
    function allowDrop(ev) {
	  ev.preventDefault();
	}
	
	function drag(item, ev) {
		console.log(item, ev)
	    ev.dataTransfer.setData("text", ev.target.id);
	}
	
	function drop(ev) {
	  ev.preventDefault();
	  var data = ev.dataTransfer.getData("text");
	  $(ev.target).attr('data-surfacetype', $(data).attr('data-surfacetype'));
	  $(ev.target).attr('data-surfacelink', document.getElementById(data).src.replace('.png', '.json'));
	  $(ev.target).css("background-image", 'url(' + document.getElementById(data).src + ')');
	}
    	
    </script>
    
	  <!--<main role="main" class="col-md-9 mx-auto col-lg-10 pt-3 px-4">
	  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-0 ">
	  
            <h1 class="h2">The Que</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">New Event</button>
              </div>
            </div>
      </div>
	  <div id="schedule" class=""></div>
      </main>-->
    {% endif %}
	{% if tmp.section == "stream" %}
		<main role="main" class="col-md-9 mx-auto col-lg-10 pt-3 px-4">
			<h2>New Stream</H2>
			<form method="post" action='{{tmp.URL}}/addstream'>
				<div class="form-group">
				    <label for="streamurl">Stream URL</label>
				    <input type="text" class="form-control" id="streamurl" name="url" required value='{{tmp.stream.url}}'>
				    <input type="hidden" name="id" value="{{tmp.stream.id}}">
  				</div>
  				<div class="form-group">
  					<select class="browser-default custom-select" name="type">
					  <option value="video" {% if tmp.stream.type == "video" %} selected {% endif %}>VIDEO URL</option>
					  <option value="rtc" {% if tmp.stream.type == "rtc" %} selected {% endif %}>WEB RTC (WE WEBCAM)</option>
					</select>
  				</div>
  				<button type="submit" class="btn btn-sm">  {% if tmp.stream.id == "" %} Add Stream{% else %} Update Stream {% endif %}</button>
			</form>
		</main>
		{% endif %}
	{% if tmp.section == "content" %}
	<main role="main" class="col-md-9 mx-auto col-lg-10 pt-3 px-4">
	  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-0 ">
            <h1 class="h2">My Library</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <a href="{{tmp.URL}}/shader" class="btn btn-sm btn-outline-secondary">New GLSLShader</a>
                <a href="{{tmp.URL}}/stream" class="btn btn-sm btn-outline-secondary">New Stream</a>
              </div>
              
            </div>
          </div>
	 	  <h3>shaders</h3>	
          <div>
          <script>
          function loadShader(img){
          	hash = $(img).attr('src').replace(".png", "").split('i=')[1];
          	loc = window.location.href.split("/content")[0]+'/shader#'+hash
          	document.location.href = loc
          }
          </script>
          {% for shader in tmp.shaders %}
          		<img src="{{tmp.URL}}/shaderimg?i={{ shader }}" class='shaderImg' onclick="loadShader(this)">
          {% endfor %}
          </div>
          <h3>streams</h3>	
          <div>
          {% for stream in tmp.streams %}
          	<div>
          		<span class="badge badge-secondary">{{stream.type}}</span> {{stream.url}} <a href="{{tmp.URL}}/stream?s={{stream.id}}" class="badge badge-primary">edit</a> &nbsp; <a href="{{tmp.URL}}/removestream?s={{stream.id}}" class="badge badge-danger">-</a>
          	</div>
          {% endfor %}
          </div>
          </div>
	 </main>
	 {% endif %}
        
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% if tmp.section == "que" %}
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="/assets/{{tmp.artwork.id}}/js/jquery.schedule.min.js"></script>
    <link rel="stylesheet" href="/assets/{{tmp.artwork.id}}/css/jquery.schedule.min.css">
	<script>
	$('#schedule').jqs();
	</script>
    {% endif %}
    {% if tmp.section == "content" %}
    {% endif %}
   

  </body>
</html>

